/* .container{
    height: 400px;
    width: 400px;
    font-size: 50px;
    background-color: aqua;
}
@media screen and (max-width:900px) {
    .container{
        width: 300px;
        height: 200px;
        background-color: green;
    }
    
}
@media screen and (max-width:600px) {
    .container{
        width: 300px;
        height: 200px;
        background-color: blue;
    }
}   this is for desktop screen to mobile screen */


/* .container{
    height: 400px;
    width: 400px;
    font-size: 50px;
    background-color: aqua;
}                                                     
@media screen and (min-width:600px) {
    .container{
        width: 300px;
        height: 200px;
        background-color: green;
    }   
}
@media screen and (min-width:900px) {
    .container{
        width: 300px;
        height: 200px;
        background-color: orange;
    }   
} above is=== this is for mobile screen to desktop*/


/* *{
    margin: 0;
    padding: 0;
    background-color: black;
}
body{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    height: 100vh;
} */

/* if w is 800px than it divide as 800/4 col=200w so for each div w is 200 and height is 200/1 row =200h ==>col 
provide an w and row provide an height and they calculate according to there h and w  this is all about responsive page */
/* .container{
    width: 800px;
    gap: 10px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    background-color: orange;


}
.big{
    background-color: aqua;
} 
 img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
@media screen and  (max-width:900px){
    .container{
        width: 400px;
        height: 400px;
       
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }
    
}
@media screen and  (max-width:600px){
    .container{
        width: 200px;
        height: 800px;
       
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;

    }
    
} */